Source: mescc-tools
Section: devel
Priority: optional
Maintainer: Vagrant Cascadian <vagrant@debian.org>
Build-Depends: debhelper-compat (=12),
Standards-Version: 4.1.5
Homepage: https://github.com/oriansj/mescc-tools

Package: mescc-tools
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: tools for binary bootstrapping
 The tools included provide very minimal functionality tools used in
 very early bootstrap of a toolchain.
